@import '../base/index'

.container-element
  display: flex
  flex-direction: column
  padding: 0.8em 1.2em
  border-radius: $border-radius-primary
  background-color: $color-background-items
  align-items: center
  justify-content: center
  width: max-content
  height: max-content
  box-shadow: $box-shadow-primary

  &__header
    display: flex
    flex-direction: row
    height: max-content
    width: max-content
    align-items: center
    justify-content: center

    &__title
      text-align: center
      font-size: $size-title-item

    &__subtitle
      text-align: center
  
  &__content
    width: max-content
    height: max-content

  &__time
    align-self: end
    margin-top: 0.5em 