.container-element
  border: 1px red solid
  
  &__header
    display: flex
    flex-direction: row
    height: 100%
    max-height: 5vh
    width: max-content
    align-items: center
    justify-content: center

    &__title
      text-align: center

    &__subtitle
      text-align: center
  
  &__content
    width: max-content
    height: max-content