.manage-path
  &__table
    background-color: #b7c7fbb0 
    border-color: #0f3bc9b0 
    border-radius: 16px

    &__head
      font-size: 1.8em
      background-color: #7090fab0 

      &--cell
        font-weight: bold !important
        padding: 0.5em 1em !important

    &__body
      font-size: 1.5em
      
      &--cell
        padding: 0.7em 1.5em !important