.manage-path
  display: flex
  flex-direction: column
  gap: 0.8em
  width: max-content

  &__buttons-option
    display: flex
    flex-direction: row
    gap: 1em
    margin-top: 0.3em

  &__table
    background-color: #b7c7fbb0 
    border-radius: 16px

    &::-webkit-scrollbar
      width: 12px
    &::-webkit-scrollbar-track
      background-color: #f1f1f1
      border-radius: 10px
    &::-webkit-scrollbar-thumb
      background-color: #7090fa
      border-radius: 10px
      &:hover
        background-color: #506fb8

    &__head
      font-size: 1.5rem
      background-color: #7090fab0 

      &--cell
        font-weight: bold !important
        padding: 0.5em 1em !important

    &__body
      font-size: 1.3rem

      &--cell
        padding: 0.7em 1.5em !important

@media (max-width: 1280px)
  .manage-path--container
    max-width: 90vw

@media (min-width: 768px) and (max-width: 1279px)
  .manage-path--container
    max-width: 40vw

@media (min-width: 1280px)
  .manage-path--container
    max-width: 30vw