@import 'styles/index'
  
html, body 
  margin: 0
  padding: 0
  height: 100%
  font-family: Roboto, sans-serif
  color: $text-primary
  background-image: linear-gradient(to right bottom, #c0c7e3, #abb9e2, #94abe1, #799edf, #5792de)
  background-size: cover
  background-attachment: fixed

#root 
  flex: 1
  display: flex
  flex-direction: column

.dashboard
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  gap: 10px
  padding: 20px
  width: max-content
  min-width: 100vw
  
  &__row
    display: flex
    align-items: center
    width: 100%
    gap: 3rem

  &__side
    display: flex
    flex-direction: column
    align-items: center
    gap: 15px