@import 'styles/base/variables'
  
html, body 
  margin: 0
  padding: 0
  height: 100%
  font-family: Roboto, sans-serif
  color: $color-text-primary

body 
  display: flex
  flex-direction: column


#root 
  background: rgb(92,135,255)
  background: linear-gradient(168deg, rgba(92,135,255,1) 0%, rgba(182,211,255,1) 100%)
  flex: 1
  display: flex
  flex-direction: column
